section {
	background-color: var(--white-alpha-25);
	border: 1px solid var(--white-alpha-40);
	min-height: 90vh;
	border-radius: 30px;
	backdrop-filter: var(--backdrop-filter-blur);
}

img {
	max-width: 100%;
	vertical-align: middle;
}

.home-section {
	display: flex;
	padding: 120px 0;
	opacity: 1;
}
.home-section.fadeOut {
	opacity: 0;
}
.home-text p {
	font-size: 18px;
}

.home-text h1 {
	font-size: 50px;
	text-transform: capitalize;
}

.home-text h2 {
	font-size: 20px;
	text-transform: capitalize;
	font-weight: 300;
	margin: 0 0 30px;
}
.home-text .btn {
	margin: 0 15px 15px 0;
}

.btn {
	line-height: 1.5;
	background-color: var(--white-alpha-25);
	border: 1px solid var(--white-alpha-40);
	padding: 10px 28px;
	display: inline-block;
	border-radius: 30px;
	color: var(--main-color);
	font-weight: 500;
	text-transform: capitalize;
	font-family: inherit;
	font-size: 16px;
	cursor: pointer;
	user-select: none;
	position: relative;
	overflow: hidden;
	vertical-align: middle;
	transition: color 0.3s ease;
}

.btn::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 0%;
	background-color: var(--main-color);
	z-index: -1;
	transition: width 0.3s ease;
	border-radius: 30px;
}

.btn:hover::before {
	width: 100%;
}

.btn:hover {
	color: var(--white);
}

.home-img,
.home-text {
	width: 50%;
	padding: 15px;
}

.home-img .img-box {
	max-width: 360px;
	background-color: var(--white-alpha-25);
	border-radius: 50%;
	border: 8px solid var(--white-alpha-25);
}

.home-img .img-box img {
	width: 100%;
	border-radius: 50%;
}
